<!-- <h1>Login</h1>

<form ng-submit="login.sendCredentials()">
  <input type="text" ng-model="login.email"/>
  <input type="text" ng-model="login.password"/>

  <button type="submit">
    Submit
  </button>
</form>

 -->
    <!-- End of preloader -->
    <!-- right sidebar wrapper -->

    <div class="inner-wrap">
        <div class="wrap-fluid">
            <br>
            <br>
            <!-- Container Begin -->
            <smz-login></smz-login>
        </div>
        <!-- End of Container Begin -->
    </div>
