<div class="header md-accent-bg md-layout-column layout-align-center-center layout-align-gt-md-space-between-end md-layout-gt-md-row">
    <div class="user-info md-layout-column layout-align-center-center layout-align-gt-md-start-center md-layout-gt-md-row">
        <img class="profile-image avatar huge" src="assets/images/avatars/katherine.jpg" data-pin-nopin="true">

        <div class="name">Emiliano</div>
    </div>
    <div class="actions md-layout-row layout-align-end-center">
        <button class="md-raised md-accent md-button ng-scope md-default-theme" ng-transclude="" aria-label="Follow"
                translate="PROFILE.FOLLOW" translate-attr-aria-label="PROFILE.FOLLOW">Follow
        </button>
        <button class="md-raised md-primary md-button ng-scope md-default-theme" ng-transclude=""
                translate="PROFILE.SEND_MESSAGE" translate-attr-aria-label="PROFILE.SEND_MESSAGE"
                aria-label="Send Message">Send Message
        </button>
    </div>
</div>
