<div class="content">

    <table st-table="dislplayedCol" st-safe-src="vm.list" class="dataTable row-border hover no-footer dtr-inline">
        <thead>
        <tr>
            <th ng-repeat="entity in vm.entityConf" st-sort="entity.key">
                {{ entity.label }}
            </th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="element in dislplayedCol">
            <td ng-repeat="entity in vm.entityConf">{{ element[entity.key] }}</td>
            <td>
                <a ui-sref="{{vm.options.editionSref}}({'id' : element.$id})">A</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>





