<div class="header md-layout-row layout-align-start-center">
    <div class="search-wrapper md-whiteframe-4dp flex md-layout-row layout-align-start-center">
        <div class="search flex md-layout-row layout-align-start-center">
            <md-icon md-font-icon="icon-magnify" class="icon s24 ng-isolate-scope md-font icon-magnify md-default-theme"
                     aria-label="icon-magnify" role="img"></md-icon>
            <input ng-model="vm.search" type="text" placeholder="Search for an e-mail or contact" translate=""
                   translate-attr-placeholder="MAIL.SEARCH_PLACEHOLDER"
                   class="ng-pristine ng-valid flex ng-scope ng-touched" aria-invalid="false" style=""></div>
    </div>
</div>
